# IntelliJ
.idea/
*.iml
out/
**/src/main/**/out/
**/src/test/**/out/

# Eclipse
.project
.settings/
.classpath
.factorypath
.springBeans

# Maven
target/

# Logs
*.log

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

docs/results.csv
docs/plots/